# -*- sh -*-

# Pinned version of nixpkgs:
NIXPKGS_COMMIT=a2e06fc3423c4be53181b15c28dfbe0bcf67dd73
export NIX_PATH=nixpkgs=https://github.com/nixos/nixpkgs/archive/${NIXPKGS_COMMIT}.tar.gz

# For loading run-time assets:
export iolaus_opaleye_datadir=$(pwd)/opaleye

# For the Opaleye example:
export DB_CONN="dbname=iolaus"
