# -*- sh -*-

# Pinned version of nixpkgs:
NIXPKGS_COMMIT=8130f3c1c2bb0e533b5e150c39911d6e61dcecc2
export NIX_PATH=nixpkgs=https://github.com/nixos/nixpkgs/archive/${NIXPKGS_COMMIT}.tar.gz

# For loading run-time assets:
export iolaus_opaleye_datadir=$(pwd)/opaleye

# For the Opaleye example:
export DB_CONN="dbname=iolaus"
