# -*- sh -*-

# For loading run-time assets:
export iolaus_opaleye_datadir=$(pwd)/opaleye

# For the Opaleye example:
export DB_CONN="dbname=iolaus host=/tmp"

# Must use at least this commit:
export NIX_PATH=nixpkgs=https://github.com/NixOS/nixpkgs-channels/tarball/e19054ab3cd5b7cc9a01d0efc71c8fe310541065
